@import "./Header.less";
@import "./Home.less";
@import "./Projects.less";
@import "./Contact.less";

*,
html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

section {
  width: 100%;
  height: 92vh;
  display: flex;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 30px;
  outline: none;
  transition: border 0.3s ease;
  font-family: "Lato", sans-serif !important;
  font-size: 15px;
}

textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 70px;
  outline: none;
  transition: border 0.3s ease;
  font-family: "Lato", sans-serif !important;
  font-size: 15px;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border: 1px solid #d46a00;
}

svg {
  transition: opacity 0.3s ease;
}

svg:hover {
  opacity: 0.7 !important;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Define a largura da barra de rolagem */
  height: 8px; /* Define a altura da barra horizontal, se necessário */
}

/* Estiliza o "thumb" (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Cor do "thumb" */
  border-radius: 10px; /* Bordas arredondadas */
}

/* Remove as setas da barra de rolagem */
::-webkit-scrollbar-button {
  display: none; /* Oculta as setas */
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo */
  border-radius: 10px; /* Bordas arredondadas no fundo também */
}

.brown-line {
  width: 20%;
  height: 3px;
  background-color: #d46a00;
}

.pages-container-columns {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title-container {
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2%;
}

.my-skills-container {
  font-size: 18px;
  color: #575757;
  word-break: break-word;
  margin: 4% 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1115px) {
  .pages-container-columns {
    width: 100%;
  }

  section {
    min-height: 92vh;
    height: unset;
    flex-direction: column;
  }

  .page-image {
    display: none;
  }

  .page-title-container {
    margin-bottom: 10%;
  }
}
