.contact-section {
  margin-top: 1%;
  flex-direction: column;
}

.submit-button {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: #d46a00;
  border: 1px solid #d46a00;
  transition: opacity 0.3s ease;
  font-size: 16px;
  color: white;
  margin-top: 5%;
}

.submit-button:hover {
  opacity: 0.7;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 0;
}

.contact-container {
  height: 100%;
  display: flex;
  margin-top: 7%;
  justify-content: center;
  margin: auto 0;
}

@media (max-width: 1115px) {
  form {
    width: 70% !important;
  }
}

@media (max-width: 999px) {
  form {
    margin-bottom: 8vh;
  }

  .contact-section {
    min-height: unset !important;
  }

  .contact-container {
    margin-top: 10vh !important;
    margin-bottom: 18vh !important;
  }
}
