.home-section {
  opacity: 0;
  transition: opacity 1s ease;
}

.home-social-medias-container {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.home-social-media-icons {
  margin: 0px 10px;
  color: #000000;
  text-decoration: none;
}

.home-brown-circle {
  width: 60%;
  aspect-ratio: 1 / 1;
  background-color: #d46a00;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.my-name-is {
  font-size: clamp(1rem, 7vw, 3rem);
  color: #d46a00;
  margin: 5px 0px;
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid;
  white-space: nowrap;
  width: 0;
  max-width: fit-content;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

.home-page-texts {
  font-size: clamp(1rem, 4vw, 2rem);
  margin: 5px 0px;
}

.home-page-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 55% 45% 62% 38% / 26% 30% 70% 74%;
}

@media (max-width: 1115px) {
  .home-section {
    justify-content: center;
    flex-direction: column-reverse !important;

    .pages-container-columns {
      height: fit-content;
    }
  }

  .home-page-image {
    padding-bottom: 5%;
  }
}

@media (max-width: 999px) {
  .home-section {
    height: 100vh !important;
  }

  .home-page-texts-container {
    margin-bottom: 65px;
  }
}

@media (max-height: 500px) and (max-width: 1115px) {
  .home-page-image {
    display: none !important;
  }
}

@media (max-height: 650px), (max-width: 1115px) {
  .home-page-image img {
    width: 250px;
    height: 250px;
  }
}

@keyframes typing {
  from {
    width: 0;
    padding-right: 0;
  }
  to {
    width: 100%;
    padding-right: 5px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
