.projects {
  opacity: 0;
  transition: opacity 1s ease;
}

.projects-section-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto 0;
}

.projects-swiper {
  height: 60vh;
  width: 70vw;
  margin: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #d46a00 !important;
  font-size: 24px;
  transition: opacity 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}

.swiper-pagination-bullet {
  transition: transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #d46a00;
}

.slide {
  width: 80%;
  height: 90%;
  margin: auto;
  position: relative;
  transition: 2s;
  display: flex;
  flex-direction: row;
}

.slide img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #d46a00;
}

.project-half-container {
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-description {
  margin: 0 1%;
  text-align: justify;
}

.project-buttons {
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 105px;
  height: 50px;
  border-radius: 5px;
  background-color: #d46a00;
  border: 1px solid #d46a00;
  transition: opacity 0.3s ease;
  font-size: 14px;
  color: white;

  svg {
    color: #fff !important;
    margin-right: 5%;
    height: 16px;
  }
}

.project-buttons:not(:last-child) {
  margin-right: 5%;
}

.project-buttons:hover {
  opacity: 0.7;
}

.project-buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

@media (max-width: 1115px) {
  .slide {
    flex-direction: column;
  }

  .project-half-container {
    height: 50%;
    width: 100%;
  }

  .project-description {
    justify-content: start;

    span {
      width: 95%;
      margin: 0 auto;
    }
  }

  .slide {
    scroll-snap-align: center;
    min-width: 90%;
  }

  .projects-swiper {
    min-height: 550px;
  }
}

@media (max-width: 999px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .projects-swiper {
    height: 80vh;
    width: 90vw;
  }
}

@media (max-height: 600px) and (min-width: 1115px) {
  .projects-swiper {
    min-height: 350px;
  }
}
