.projects-section-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.projects-arrow-buttons {
  height: fit-content;
  border: none;
  border-radius: 30%;
  background-color: transparent;
  padding: 10px;
  transition: 0.7s;

  svg {
    position: relative;
  }
}

.right {
  margin-right: 10%;
  margin-left: 1%;
}

.left {
  margin-left: 10%;
  margin-right: 1%;

  svg {
    left: 3px;
  }
}

.slider {
  margin: auto;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 70vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
  display: flex;
  flex-direction: row;
}

.slide img {
  width: 95%;
  border: 2px solid #d46a00;
}

.manual-navigation {
  position: absolute;
  width: 70vw;
  margin-top: -2vh;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #d46a00;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #d46a00;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 70vw;
  margin-top: 68vh;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #d46a00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #d46a00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #d46a00;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #d46a00;
}

.project-half-container {
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.project-description {
  margin: 0 1%;
  text-align: justify;
}

@media (max-width: 1115px) {
  .projects-container {
    flex-direction: column;
    gap: 10vh;
  }

  .slide img {
    width: unset;
    height: 95%;
  }

  .slide {
    flex-direction: column;
  }

  .project-half-container {
    height: 50%;
    width: 100%;
  }

  .project-description {
    margin: 1% 0;
  }
}

@media (max-width: 850px) {
  .slide img {
    height: 70%;
  }

  .right {
    margin-right: 5%;
  }

  .left {
    margin-left: 5%;
  }

  .project-description {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .slide img {
    height: 55%;
  }

  .right {
    margin-right: 1%;
  }

  .left {
    margin-left: 1%;
  }

  .project-description {
    width: 99%;
  }

  .navigation-auto {
    margin-top: 73vh;
  }

  .manual-navigation {
    margin-top: 3vh;
  }
}

@media (max-width: 450px) {
  .slide img {
    height: 45%;
  }
}
